#general{
  margin: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  font-family: Verdana;
}

.text-align-center {
  background:#68c0f3;
  color: #333;

  font-family: Verdana;

  line-height: 100px;
  text-align: center;
  vertical-align: middle;
}

.cuerpo{
  text-align: right;
}
.izquierda{
  float:left;
  width: 40%;
  height: 60%;
  background-color: #38b6ff31;
}

.derecha{
  float:right;
  width: 60%;
  height: 100%;
  background-color: #ffffff;
  text-align: left;
  color: #202021;
  
}
.titulo{
  font-size: 500%;
  margin-top: 8%;
  margin-left: 5%;
  margin-block-end: 0%;
}
.subtitulo{
  margin-left: 5%;
  margin-block-end: 0%;
  background-color: #38b6ff31;
  line-height: 250%;
}
.letra{
  font-family: Verdana;
  margin-left: 5%;
  margin-block-end: 0%;
}
.parrafo{
  font-size: 80%;
  margin-left: 5%;
  margin-block-end: 0%;
}
.imgRedonda {
  margin: auto;
  width:300px;
  height:300px;
  border-radius:150px;
  border:10px solid rgb(255, 255, 255);
  margin-top: 8%;
}