.general{
  margin: auto;
  width:793px;
  height: 1122px;
  font-family: Verdana;
  background-color: #ffffff;
  min-width: 100px;
  border:#202021 5px dashed;
}

.text-align-center {
  background:#68c0f3;
  color: #333;

  font-family: Verdana;

  line-height: 100px;
  text-align: center;
  vertical-align: middle;
}

.cuerpo{
  text-align: right;
}

.izquierda{
  float:left;
  width:317.2px;
  height: 1122px;
  background-color: #38b6ff31;
}

.derecha{
  float:left;
  width: 475.8px;
  background-color: #fcfcfc;
  text-align: left;
  color: #202021;
}

.titulo{
  font-size: 500%;
  margin-top: 8%;
  margin-left: 5%;
  margin-block-end: 0%;
}
.subtitulo{
  margin-left: 5%;
  margin-block-end: 0%;
  background-color: #38b6ff31;
  line-height: 250%;
}
.letra{
  font-family: Verdana;
  margin-left: 5%;
  margin-block-end: 0%;
}
.parrafo{
  font-size: 80%;
  margin-left: 5%;
  margin-block-end: 0%;
}
.imgRedonda {
  margin: auto;
  width:200px;
  border-radius:150px;
  border:10px solid rgb(255, 255, 255);
  margin-top: 8%;
}