<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div id="general">
        
        <div class="derecha">
            <h1 class="titulo">
                Juan<br>
                Bautista<br>
                Verdejo<br>
            </h1>
            <h3 class="letra">
                Estudiante Ingenieria en<br>
                sistemas informaticos</h3>
            <h3 class="subtitulo">EXPERIENCIA LABORAL</h3>
        </div>

        <div class="izquierda">
                <center>
                    <img src="/static/img/foto.PNG" class="imgRedonda"></img>
                </center>
                <h3 class="letra">
                    ACERCA DE MI
                </h3>
                <p class="parrafo">
                    Soy una persona responsable, proactiva<br>
                    me gusta investigar por cuenta propia y<br>
                    adquirir nuevos conocimientos<br>
                </p>
                
        </div>
    </div>
        
</body>
</html>