<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div id="general">
        </h1>
        <div class="derecha">
            <h1 class="titulo">
                Juan<br>
                Bautista<br>
                Verdejo<br>
            </h1>
            <h3 class="letra">Estudiante Ingenieria en sistemas informaticos</h3>
        </div>
        <div class="izquierda">
            <h1>
                <center>
                    <img src="/static/img/foto.PNG" class="imgRedonda"></img>
                </center>
                <h3 class="letra">
                    Acerca de mi
                </h3>
                <p>Soy una persona responsable, proactiva me gusta investigar por cuenta propia y adquirir nuevos conocimientos </p>
                
            </h1>
        </div>
    </div>
        
</body>
</html>